.camera {
	height: 100px;
	width: 100px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDbE6IQFjmZbHLS8XfjR7PsaIRJEls0Sv5W7dv9KIDTA&s");
	background-size: cover;
	border-radius: 9px;
	cursor: pointer;
}
.screen {
	height: 100px;
	width: 100px;
	background-image: url("https://t3.ftcdn.net/jpg/00/64/64/70/360_F_64647003_ymkLhwDBoiTeRYlrxFRYUmkhZtrL8slx.jpg");
	background-size: cover;
	border-radius: 9px;
	cursor: pointer;
}
.both {
	height: 100px;
	width: 100px;
	background-image: url("https://img.freepik.com/fotos-premium/rindo-jovem-mostrando-maquete-de-telefone-celular_116547-28660.jpg");
	background-size: cover;
	border-radius: 9px;
	cursor: pointer;
}
.absolute-container {
	position: absolute;
	left: 25%;
	top: 50;
	z-index: 99;
}
